.container-fluid:first-of-type {
  margin-top: 20px;
}

body {
  background: linear-gradient(to right bottom, blue, lightblue);
  height: 100vh;
}

@media (min-width: 720px) {
  body {
    overflow-y: hidden;
  }
}

#accordion .box .box-body {
  display: none;
}
