.label-center {
  text-align: center;
}


.container-iframe .row {
  margin: 5px;
  margin-top: 0px !important;
}

@media (max-width: 720px) {
  .gutter {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}